{{> page-header this }}

<section>

  <header>
    <h2 class="m-t-3 m-b-3">Résultats du concours «&nbsp;{{ contest.name }}&nbsp;»</h2>
  </header>

  <h3 class="m-t-2 m-b-2">Classement par catégorie</h3>
  
  {{#each categoryByGroup}}
  
  <h4 class="m-t-3">Section {{_id}}</h4>
      
    {{#each categories}}

    {{#if notes}}
    <h5 class="m-t-2">Catégorie {{ label }} ({{ group }}) [{{ code }}]</h5>
    
    <table class="table table-inverse table-striped">
      <thead>
        <tr>
          <th>Classement</th>
          <th>Concurrent</th>
          <th>Club</th>
          <th>Note</th>
      </thead>

      <tbody>
        {{#each notes}}
        <tr>
          <td>{{row_number @index}}</td>
          <td>{{people_firstName displayCode}} {{people_lastName displayCode}}</td>
          <td>{{people_club displayCode}}</td>
          <td>{{format_note note}}</td>
        </tr>
        {{/each}}
      </tbody>

    </table>
    {{/if}}

    {{/each}}

  {{/each}}
  
  <h3 class="m-t-2 m-b-2">Détails des notes</h3>
  
  <p>
    Le tableau ci-dessous liste les notes obtenues par chaque display
    (participant pour une catégorie).
    La note moyenne est indiquée.
  </p>
  
  <p class="alert alert-info">
    Un display est identifié par le code de catégorie et le 
    numéro d'enregistrement du participant.    
  </p>
  
  <table class="table table-inverse table-striped">
    <thead>
      <tr>
        <th>Category</th>
        <th>Display</th>
        <th>Notes</th>
        <th>Note moyenne</th>
    </thead>

    {{#each displayResults}}
    <tbody>
      <tr>
        <td>{{ categoryCode }}</td>
        <td>{{ displayCode }}</td>
        <td>
          <ul class="list-inline">
            {{#each notes}}
            <li class="list-inline-item">{{format_note this}}</li>
            {{/each}}
          </ul>
        </td>
        <td>
          {{#if averageNote}}
            {{ format_note averageNote }}
          {{else}}
            --
          {{/if}}
        </td>
      </tr>
    </tbody>

    {{/each}}
  </table>

</section>

{{> page-footer this }}
