{{> page-header this }}

<section>

  <header>
    <h2 class="card-title">Administration des concours</h2>
  </header>


  <table class="table table-striped table-inverse">
    <colgroup>
      <col class="col-active">
      <col class="col-name">
      <col class="col-judges">
      <col class="col-categories">
      <col class="col-actions hidden-print">
    </colgroup>

    {{!-- HEADING --}}

    <thead class="thead-inverse">
      <tr>
        <th>Actif</th>
        <th>Concours</th>
        <th>Catégories</th>
        <th>Juges</th>
        <th class="hidden-print">Actions</th>
      </tr>
    </thead>

    {{!-- BODY --}}

    <tbody>

      {{#each contestList}}
      
      <tr class="fmj-contest-info " data-uid="{{_id}}" >
        <td>
          {{#if active}}
          <i class="fmj-contest-state-active fa fa-check-circle-o"></i>
          {{else}}
          <i class="fmj-contest-state-inactive fa fa-stop-circle-o"></i>
          {{/if}}
        </td>

        <td>
          {{name}}
        </td>

        <td>
          <ul class="list-inline">
            {{#each categoryList}}
            
            <li class="list-inline-item" title='{{category_name this }} ({{category_group this }})' >
              [{{this}}]
            </li>
            {{/each}}
          </ul>
        </td>

        <td>
          {{#if judgeList}}
          <ul class="list-inline">
            {{#each judgeList}}
            <li class="list-inline-item" title="{{user_fullName this}}" >{{this}}</li>
            {{/each}}
          </ul>
          {{else}}
          <em>Aucun juge pour l'instant...</em>
          {{/if}}

        </td>

        <td class="hidden-print">
          <div class="btn-group btn-sm">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
              Action
            </button>
            <div class="dropdown-menu">
              <button type="button" class="dropdown-item" >
                <i class="fa fa-edit" aria-hidden="true"></i>
                Modifier
              </button>

              <div class="dropdown-divider"></div>

              <button type="button" class="dropdown-item" >
                <i class="fa fa-trophy" aria-hidden="true"></i>
                Résultats
              </button>

              <div class="dropdown-divider"></div>

              <button type="button" class="dropdown-item" >
                <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                Activer le concours
              </button>
              <button type="button" class="dropdown-item" >
                <i class="fa fa-stop-circle-o" aria-hidden="true"></i>
                Inactiver le concours
              </button>
            </div>
          </div>

        </td>

      </tr>
      {{/each}}

    </tbody>

  </table>  
  
  <hr class="hidden-print">

  <div class="container hidden-print">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <a class="btn btn-success btn-sm" href="/admin/contest-edit">
          <i class="fa fa-plus" aria-hidden="true"></i>
          Créer un concours
        </a>
      </div>
      <div class="col-xs-12 col-md-6 text-md-right">
        <button class="btn btn-primary-outline btn-sm" type="button" onclick="javascript: print()">
          <i class="fa fa-print" aria-hidden="true"></i>
          Imprimer...
        </button>              
      </div>
    </div>
  </div>

</section>

{{> page-footer this }}

