{{> page-header this }}

<section>

  <header>
    <h2>Gestion des utilisateurs</h2>
  </header>

  <article class="alert alert-info hidden-print">
    <p>
      Cette page vous permet de gérer les accès à l'application.
    </p>
    <p>
      Consultez la liste des utilisateurs, ajoutez ou supprimez des accès.
      Et pour chaque personne, indiquez quels sont les droits dont elle dispose.
    </p>
  </article>


  {{#if error_code }}
  <article class="card card-warning">
    <div class="card-header">
      <strong>Erreur</strong>
    </div>

    <div class="card-body">
      <p>{{message}}</p>
      {{!--
    {{#if error_code == "DB.open" }}
      <p>Erreur de connection sur la base de données.</p>
      {{/if}}
      {{#if error_code == "DB.fetch" }}
      <p>
        Erreur lors de la récupération des données. 
        Merci de signaler le problème à l'organisation.
      </p>
      {{/if}}
      --}}
    </div>
  </article>
  {{/if}}


  {{#if users}}

  <article>
    <table class="table table-striped fmj-user-list">
        <colgroup>
          <col class="col-empty">
          <col class="col-uid">
          <col class="col-name">
          <col class="col-email">
          <col class="col-groups">
          <col class="col-actions">
      </colgroup>
      <thead class="thead-inverse">
        <tr>
          <th></th> 
          <th>Identifiant</th> 
          <th>Nom complet</th> 
          <th>Email</th> 
          <th>Groupes</th>
          <th class="hidden-print">Actions</th>
        </tr>        
      </thead>
      <tbody>
        {{#each users}}
        <tr>
          <th scope="row">{{row_number @index}}</th>
          <td>{{login}}</td> 
          <td>{{fullName}}</td> 
          <td>{{{email_link email}}}</td> 
          <td>
            {{#each groups}} {{this}} {{/each}}
          </td>
          <td class="hidden-print" >
            <div class="btn-group">
              <button type="button" class="btn btn-sm btn-secondary dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Actions
              </button>
              <div class="dropdown-menu">
                <button type="button" class="dropdown-item" onclick="userAdmin.showInfoEditor('{{_id}}', '{{escape login}}', '{{escape fullName}}', '{{escape email}}');">Éditer les informations</button>
                <button type="button" class="dropdown-item" onclick="userAdmin.showGroupEditor('{{this}}');">Éditer les groupes</button>
                <button type="button" class="dropdown-item" onclick="userAdmin.showPasswordEditor('{{_id}}', '{{escape login}}');">Modifier le mot de passe</button>
                <div class="dropdown-divider"></div>
                <button type="button" class="dropdown-item" onclick="userAdmin.askDeletion('{{_id}}', '{{escape login}}', '{{escape fullName}}');">Supprimer</button>
              </div>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>

    </table>

    <hr>

    <div class="container hidden-print">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <a class="btn btn-success-outline btn-sm" href="/admin/add-user">Ajouter un utilisateur</a>
        </div>
        <div class="col-xs-12 col-md-6 text-md-right">
          <button class="btn btn-primary-outline btn-sm" type="button" onclick="javascript: print()">Imprimer...</button>              
        </div>
      </div>
    </div>

  </article>

  {{/if}}
</section>

{{> page-footer this }}


{{!-- MODAL FOR INFORMATION EDITOR --}}
{{> admin/modal-user-info-edit this }}


{{!-- MODAL FOR PASSWORD EDITOR --}}
{{> admin/modal-user-password-edit this }}


{{!-- MODAL FOR DELETION --}}
{{> admin/modal-user-delete this }}

<script type="text/javascript" src="/public/js/FiMaJe-admin.js" ></script>

<script type="text/javascript" >
var userAdmin;

// Create the main form
$(function() {
    userAdmin = new FMJUserAdmin();
});

</script>