{{> page-header this }}

<section>
  <header>
    <h2>Inscriptions <small class="text-muted">le {{format_date reportDate pattern="D MMMM" }}</small></h2>
  </header> 


  <article>
    <table class="table table-striped">
      <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Code, Inscrit le...
          </th>
          <th>
            Nom/Prénom, Email, Téléphone
            </span>
          </th>
          <th>Club</th>
          <th>Pièces</th>
        </tr>
      </thead>

      <tbody>
        {{#each registration}}
        <tr>
          <th scope="row">
            {{row_number @index}}
          </th>
          <td>
            <div>
              <form action="/registration-details" method="POST" >
                <input class="registeredEmail" type="hidden" name="email" value="{{ userInfo.email }}">
                <input class="accessKey" type="hidden" name="accessKey" value="{{ userInfo.accessKey }}">

                <button class="btn btn-link btn-sm" type="submit" title="Voir la fiche d'enregistrement...">{{ userInfo.accessKey }}</button>
              </form>
            </div>
            <div>{{ format_date userInfo.registerDate pattern="ddd DD MMMM" }}</div>
          </td>
          <td>
              <div>{{ userInfo.firstName }} <span class="text-smallcaps">{{ userInfo.lastName }}</span></div>
              <div>{{{ email_link userInfo.email }}}</div>
              <div>{{{ phone_link userInfo.phone }}}</div>
          </td>
          <td>{{ userInfo.club }}</td>
          <td>
            <ul>
              {{#each items }}
              <li>{{name}} ({{ categoryCode }})</li> 
              {{/each}}
            </ul>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <div class="m-t-2 text-xs-right hidden-print">
      <button class="btn btn-info-outline btn-sm" type="button" onclick="javascript: print()">
        <i class="fa fa-print" aria-hidden="true"></i>
        Imprimer...
      </button>
    </div>
  </article>

</section>

{{> page-footer this }}
