{{> page-header this }}

<section>
  <header>
    <h2>Votre inscription</h2>
  </header>

  <p class="hidden-print">
    Merci de bien vouloir imprimer ce document et le présenter au moment de 
    l'enregistrement des pièces lors du FiMaJe.
  </p>

  <article>
    <div class="card-deck-wrapper m-t-2" >
      <div class="card-deck">  
        {{!-- PERSONNAL INFORMATIONS --}}
        <div class="card">
          <div class="card-block">                    
            <h3>Informations personnelles</h3>

            <div class="row">
              <div class="fmj-label col-xs-4 text-xs-right">Nom/Prénom&nbsp;:</div>
              <div class="fmj-value col-xs-8">
                {{ userInfo.firstName }} {{ userInfo.lastName }}
              </div>
            </div>

            <div class="row">
              <div class="fmj-label col-xs-4 text-xs-right">Email&nbsp;:</div>
              <div class="fmj-value col-xs-8">
                {{ userInfo.email }}
              </div>
            </div>

            <div class="row">
              <div class="fmj-label col-xs-4 text-xs-right">Téléphone&nbsp;:</div>
              <div class="fmj-value col-xs-8">
                {{ userInfo.phone }}
              </div>
            </div>

            <div class="row">
              <div class="fmj-label col-xs-4 text-xs-right">Club&nbsp;:</div>
              <div class="fmj-value col-xs-8">
                {{ userInfo.club }}
              </div>
            </div>
          </div>  
        </div>

        {{!-- CONTACTS --}}
        <div class="card">
          <div class="card-block">
            <h3>Détails de l'inscription</h3>

            <div class="row">
              <div class="fmj-label col-xs-4 text-xs-right">
                Date d'inscription&nbsp;:
              </div>
              <div class="fmj-value col-xs-8">
                {{ userInfo.registerDateDisplay }}
              </div>
            </div>

            <div class="row">
              <div class="fmj-label col-xs-4 text-xs-right">
                Clé d'accès&nbsp;:
              </div>
              <div class="fmj-value col-xs-8">
                {{ userInfo.accessKey }}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <h2 class="m-t-2 m-b-1">Pièces enregistrées</h2>

    <table class="table" >
      <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Pièce</th> 
          <th>Catégorie</th>
          <th>Famille</th>
        </tr>
      </thead>
      <tbody>
        {{#each items}}
        <tr>
          <th scope="row">{{row_number @index}}</th>
          <td>{{name}}</td> 
          <td>{{ category_name categoryCode }} ({{ categoryCode }})</td>
          <td>{{ category_group categoryCode }}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </article>
  
  {{!-- PRINTABLE SUMMARY FOR DISPLAYS --}}
  
  <hr class="cut-here">
  
  <article class="fmj-stickers">
        
    <p class="m-t-2 m-b-3 text-xs-left">
      Merci d'imprimer cette page sur papier blanc. Les étiquettes ci-dessous seront 
      <em>indispensables</em>
      lors de l'enregistrement des pièces.
    </p>
    
        {{#each categoryItems}}
        <div class="card fmj-sticker" >
          <div class="card-header">
            <div class="row">
              <div class="fmj-code col-xs-2">
                {{ @key }}
              </div>
              <div class="fmj-category col-xs-10 text-xs-right">
                {{ category_name @key }}<br>
                <small>{{ category_group @key }}</small>
              </div>
            </div>
          </div>
          
          <div class="card-block">
            {{#each this}}
              {{#if true}}
              <dl>
                <dt>{{row_number @index}}</dt>
                <dd>{{this}}</dd> 
              </dl>
              {{/if}}
            {{/each}}
          </div>
          
          <div class="card-footer">
            N°&nbsp;: <var class="fmj-id">{{ ../userInfo.accessKey }}</var>
          </div>
        </div>
        {{/each}}
        
  </article>
      

  <div class="text-xs-right hidden-print m-t-3">
    <button class="btn btn-info-outline btn-sm" type="button" onclick="javascript: print()">Imprimer...</button>
  </div>

</section>

{{> page-footer this }}
