{{> page-header this }}

<section>
  <header>
    <h2>Votre inscription</h2>
  </header>

  <p class="hidden-print">
    Merci de bien vouloir imprimer ce document et le présenter au moment de 
    l'enregistrement des pièces lors du FiMaJe.
  </p>

  <article>
    <div class="card-deck-wrapper m-t-2" >
      <div class="card-deck">  
        {{!-- PERSONNAL INFORMATIONS --}}
        <div class="card">
          <div class="card-block">                    
            <h3>Informations personnelles</h3>

            <div class="row">
              <div class="col-xs-4 text-xs-right">Nom/Prénom&nbsp;:</div>
              <div class="col-xs-8">
                {{ userInfo.firstName }} {{ userInfo.lastName }}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 text-xs-right">Email&nbsp;:</div>
              <div class="col-xs-8">
                {{ userInfo.email }}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 text-xs-right">Téléphone&nbsp;:</div>
              <div class="col-xs-8">
                {{ userInfo.phone }}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 text-xs-right">Club&nbsp;:</div>
              <div class="col-xs-8">
                {{ userInfo.club }}
              </div>
            </div>
          </div>  
        </div>

        {{!-- CONTACTS --}}
        <div class="card">
          <div class="card-block">
            <h3>Détails de l'inscription</h3>

            <div class="row">
              <div class="col-xs-4 text-xs-right">
                Date d'inscription&nbsp;:
              </div>
              <div class="col-xs-8">
                {{ userInfo.registerDateDisplay }}
              </div>
            </div>

            <div class="row">
              <div class="col-xs-4 text-xs-right">
                Clé d'accès&nbsp;:
              </div>
              <div class="col-xs-8">
                {{ userInfo.accessKey }}
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <h2 class="m-t-2 m-b-1">Pièces enregistrées</h2>

    <table class="table" >
      <thead class="thead-inverse">
        <tr>
          <th></th>
          <th>Pièce</th> 
          <th>Catégorie</th>
          <th>Famille</th>
        </tr>
      </thead>
      <tbody>
        {{#each items}}
        <tr>
          <th scope="row">{{row_number @index}}</th>
          <td>{{name}}</td> 
          <td>{{ category_name categoryCode }} ({{ categoryCode }})</td>
          <td>{{ category_group categoryCode }}</td>
        </tr>
        {{/each}}
      </tbody>
    </table>

  </article>

  <div class="text-xs-right hidden-print">
    <button class="btn btn-info-outline btn-sm" type="button" onclick="javascript: print()">Imprimer...</button>
  </div>

  {{> page-footer this }}
