<form class="m-b-2 fmj-hide-on-success">

  <h2><span class="label label-pill label-default">4</span>
    Frais d'inscription {{ year }}
  </h2>

  <ul class="list-group">

    {{#each pricing}}

    <li class="list-group-item">
      <div class="row" >
        <div class="col-xs-2 text-xs-right">
          <label for="price_rate_{{ rateCode }}" 
                 class="h4 c-input c-radio">
            {{ format_amount amount }}&nbsp;€
            <input id="price_rate_{{ rateCode }}" type="radio" name="price_rate" 
                   value="{{ rateCode }}" >
            <span class="c-indicator"></span>
          </label>
        </div>
        <div class="col-xs-10">
          <h4 class="media-heading">{{{ label }}}</h4>
          {{{ description }}}
        </div>
      </div>
    </li>

    {{/each }}

  </ul>

</form>
