{{> page-header this }}

<div class="alert alert-warning">
  <p class="lead">
    <i class="fa fa-warning"></i> Espace réservé aux juges.
  </p>
</div>

<section>

  <header>

    <h2>Fiche de notation</h2>
    
    <div class="card">
      <div class="card-block">
        <div class="row">
          <div class="col-xs-6 text-xs-right">Concours&nbsp;:</div>
          <strong class="col-xs-6 text-xs-left">{{{name}}}</strong>

          <div class="col-xs-6 text-xs-right">Juge&nbsp;:</div>
          <strong class="col-xs-6 text-xs-left">{{{user}}}</strong>
        </div>
      </div>
    </div>

  </header>

  <div class="alert alert-info hidden-print">
    <p>
      1. Sélectionnez une catégorie pour voter sur chaque display en compétition.
    </p>
  </div>

  <ul class="nav nav-pills nav-stacked m-t-2 hidden-print" role="tablist">
    {{#each categories}}
    <li class="nav-item">
      <a data-toggle="tab" class="nav-link" href="#category_{{code}}" role="tab">
        <div class="row">
          <div class="col-xs-1 vote-status" data-category="{{code}}" >
            {{#if submitted}}
            <i class="vote-pending  fa fa-circle-o"></i>
            <i class="vote-complete fa fa-check-circle"></i>
            {{else}}
            <i class="vote-impossible fa fa-ban"></i>
            {{/if}}
          </div>
          <div class="col-xs-1">{{code}}</div>
          <div class="col-xs-9 col-md-7">{{label}}</div>
          <div class="col-xs-3 col-xs-offset-1 col-md-offset-0">{{group}}</div>
        </div>
      </a>
    </li>  
    {{/each}}
  </ul>

  <div class="alert alert-info m-t-1 m-b-1 hidden-print">
    <p>
      2. Donnez une note à chaque display.</p>
    <p>
      Lorsque chaque display aura une note 
      un cercle coché <i class="fa fa-check-circle"></i> sera indiqué en vis à vis 
      de la catégorie.
    </p>
  </div>
  
  <div class="tab-content">
    {{#each categories}}
    
    <article id="category_{{ code }}" class="tab-pane category-ballot" role="tabpanel">
      {{#unless submitted}}
      <div class="card alert alert-info hidden-print">
        <div class="card-block">
          <h3>[{{ code }}] {{ label }} ({{ group }})</h3>
      
          Aucun display n'a été proposé pour cette catégorie du concours.
        </div>
      </div>
      {{/unless}}
    
      {{#if submitted}}
      <table class="table table-striped">
        <caption>
          <h3>[{{ code }}] {{ label }} ({{ group }})</h3>
        </caption>
        
        <colgroup>
          <col class="ref">
          <col class="details">
          <col class="vote">
        </colgroup>
        
        <thead class="thead-inverse">
          <tr>
            <th>Display</th>
            <th>Détails</th>
            <th>Votre note</th>
          </tr>
        </thead>

        <tbody>
          {{#each submitted}}
          <tr>
            <td>
              <var class="">{{ accessKey }}</var>
            </td>

            <td>
              <ul class="list-unstyled">
                {{#each entries}}
                <li>{{ this }}</li>
                {{/each}}
              </ul>
            </td>
            
            <td>
              <select name="note_{{../code}}_{{accessKey}}" 
                      data-category="{{../code}}" 
                      data-display="{{accessKey}}" 
                      class="fmj-note form-control form-control-lg hidden-print" >
                <option value="" disabled="disabled" {{{ placeholder_selected_attr ../../code ../accessKey }}}>Choisir une note</option>
                
                {{#each ../../notes}}
                  <option value="{{this}}" {{{ selected_attr ../../code ../accessKey this }}} >{{this}}</option>
                {{/each}}
              </select>
              <div class="note-list Xvisible-print-block">{{ existing_note ../../code ../accessKey }}</div>
            </td>
          </tr>
          {{/each}}

        </tbody>
      </table>
      {{/if}}
    </article>
    {{/each}}
  </div>


  <div class="fmj-action-bar hidden-print">
    <div class="row">
      <div class="col-xs-12 col-md-7 m-t-1 m-b-1">
        Vous pouvez envoyer votre vote autant de fois que nécessaire jusqu'à
        la cloture du concours.
      </div>

      <div class="col-xs-12 col-md-5  m-t-1 m-b-1 text-xs-right">
        <button id="submitVote" class="btn btn-primary btn-lg" type="button">
          <i class="fa fa-certificate" aria-hidden="true"></i>
          Enregistrer mes votes
        </button>
      </div>

    </div>
    
    <div class="alert alert-warning" hidden="hidden">
      <p>
        <i class="fa fa-warning"></i> Erreur de communication. 
        Votre vote n'a pas été enregistré.
      </p>
    </div>
    
    <div class="alert alert-success" hidden="hidden">
      <p>
        <i class="fa fa-check"></i> Vote validé
      </p>
    </div>
  </div>


</section>

{{> page-footer this }}

<script type="text/javascript" src="/public/js/FiMaJe-contest-vote.js" ></script>

<script type="text/javascript" >
var FMJVoteSheet;

// Create the main form
$(function() {
    FMJVoteSheet = new FMJContestVoteSheet("{{name}}", "{{user}}");
});

</script>